{% extends "base.html" %}

{% block title %}Edytor{% endblock %}

{% block content %}
<div class="card">

    <h1 class="text-center">Edytor klasy</h1>

    <div class="card-body" id="creator">
        <p>Jeśli chcesz, możesz wgrać plik, aby go edytować.</p>
        <form class="input-group" >
            <input style="width: 247px; flex: none;" class="form-control" type="file" id="file-form" >
            <input type="button" class="btn btn-secondary" onclick="populateTable()" value="Wgraj">
        </form>
    </div>

    <div class="card-body" >
        <form class="input-group">
            <input type="text" class="input-group-text" name="group" id="group-form" placeholder="Rozszerzenie">
            <input type="button" class="btn btn-secondary" onclick="addGroup()" value="Dodaj rozszerzenie">
        </form>
        
        <div class="card-body" id="groups"></div>

        <form class="input-group">
            <input type="text" class="input-group-text" name="name" id="name-form" placeholder="Imię">
            <input type="text" class="input-group-text" name="surname" id="surname-form" placeholder="Nazwisko">
            <input type="button" class="btn btn-secondary" onclick="addStudent()" value="Dodaj ucznia">
        </form>
        
        <div class="card-body" id="table">
        </div>
        <div>
            <input class="btn btn-secondary" type="button" onclick="generateFileFromTable()" value="Zapisz">
            <form style="display: inline;" action="/file-submit" method="post" enctype="application/x-www-form-urlencoded">
                <textarea readonly id="text-field" class="form-control" name="dane" style="display: none;"></textarea>
                <input class="btn btn-secondary" onclick="generateFileFromTable()" type="submit" value="Zapisz i znajdź odpowiedzi">
            </form>
        </div>
        
    </div>

</div>

<!-- (A) LOAD FILE SAVER -->
<!-- https://cdnjs.com/libraries/FileSaver.js -->
<!-- https://github.com/eligrey/FileSaver.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<style>
    td {
        padding: 0px 10px;
    }
    tr:nth-child(odd) td, tr:nth-child(odd) button {
        background-color: lightgray;
    } 
</style>

{% endblock %}

{% block javascript %}
    {% include "scripts/creator.js" %}
    
{% endblock %}