{% extends "base.html" %}

{% block title %}Kreator{% endblock %}

{% block content %}

<h1>Kreator klasy</h1>
<p><input type="file" id="file-form"></p>
<p><button onclick="populateTable()">Wgraj plik</button></p>
<div id="creator">
    <input type="text" name="group" id="group-form" placeholder="Rozszerzenie">
    <button onclick="addGroup()">Dodaj rozszerzenie</button>
    <br>
    <ul id="groups"></ul>
    <br>
    <input type="text" name="name" id="name-form" placeholder="Imię">
    <input type="text" name="surname" id="surname-form" placeholder="Nazwisko">
    <button onclick="addStudent()">Dodaj ucznia</button>
    <table id="table"></table>
</div>
<button onclick="generateFileFromTable()">Wygeneruj plik</button>

<style>
    .active {
        color: green;
    }

    .inactive {
        color: red;
    }
</style>

{% endblock %}

{% block javascript %}
    {% include "scripts/creator.js" %}
{% endblock %}