{% extends "base.html" %}

{% block title %}vts{% endblock %}

{% block content %}
<div class="card">
    <h1 class="text-center">Witaj!</h1>
    <div class="card-body text-center">
        <h2>Masz gotowy plik, czy chcesz skorzystać z edytora?</h2>

    </div>
    <div  class="card-body text-center">
        <a href="/creator"><button class="btn btn-secondary">Chcę skorzystać z edytora</button></a>
        <a href="/file-submit"><button class="btn btn-secondary">Mam gotowy plik</button></a>
    </div>


</div>

{% endblock %}